<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Filepond CDN -->
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <!-- Filepond Image Preview CSS CDN -->
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <!-- Filepond encode plugin CDN Script -->
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <!-- Filepond Image Preview Script CDN -->
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <!-- Filepond Image Resize CDN Script -->
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>
    <!-- Filepond CDN Script -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUploads.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Book Stack</title>
  </head>
  <body>
    <%- include('../partials/header.ejs')%> <%-
    include('../partials/errorMessage.ejs')%> <%- body %>
  </body>
</html>
